<aside>
  <div class="editor-container">
    <pre class="codeEditor" id="editor-html"></pre>
    <div class="codeEditor-label">HTML</div>
  </div>
  <div class="editor-container">
    <pre class="codeEditor" id="editor-css"></pre>
    <div class="codeEditor-label">CSS</div>
  </div>
</aside>

<div class="canvas js-canvas"></div>